@import 'styles/variables';
@import 'styles/mixins';

.header {
  @include layout-main();
  @include flex(row, center, space-between);
  @include position(sticky, 0);

  height: 80px;
  padding: 0 40px;
  border-bottom: 1px solid $border-color;
  background-color: $white;
  z-index: 1;

  > div:first-child {
    @include flex-center();

    svg {
      margin-right: 12px;
    }
  }

  &__hamburger {
    display: none;
  }

  &__input {
    input {
      height: 54px;
      width: 440px;
      border: none;
      border-radius: $border-radius--lg;
      background-color: $header-input-bg;
    }

    span {
      top: 17px;
      color: $secondary-color;

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  &__menu {
    @include flex(row, center, space-between);

    height: 54px;
    width: 175px;
    padding: 0 20px;
    border: 1px solid $border-color;
    border-radius: $border-radius--md;

    &__section {
      @include flex-center();

      span {
        display: inline-block;

        svg {
          @include size(16px);
        }
      }

      &:first-child span {
        @include size(16px);
        @include flex(row, center, center);

        margin-left: 8px;
        font-size: $font-size--xs;
        border-radius: $border-radius--sm;
        color: $white;
        background-color: $error-color;
      }

      &:last-child span {
        @include size(32px);

        margin-right: 12px;
        border: 1px solid $purple;
        border-radius: 50%;
      }
    }

    &__divider {
      height: 24px;
      width: 1px;
      background-color: $border-color;
    }
  }

  @media #{$media-desktop--sm} {
    padding: 0 20px;

    &__input {
      input {
        width: 400px;
      }
    }
  }

  @media #{$media-desktop--xs} {
    &__hamburger {
      display: block;
    }
  }

  @media #{$media-tablet} {
    &__input {
      input {
        width: 300px;
      }
    }
  }

  @media #{$media-mobile} {
    height: 70px;

    &__input {
      input {
        height: 45px;
        width: 250px;
      }

      span {
        top: 12.5px;
      }
    }

    &__menu {
      height: 45px;
      width: 140px;
      padding: 0 12px;

      &__section {
        &:last-child span {
          @include size(24px);
        }
      }
    }
  }

  @media #{$media-mobile--sm} {
    height: 60px;
    padding: 0 12px;

    &__input {
      display: none;
    }

    &__menu {
      height: 40px;
    }
  }
}
