@import 'styles/variables';
@import 'styles/mixins';

.sidebar {
  @include position(fixed);

  width: 20%;
  height: 100vh;
  padding: 20px;
  background-color: $white;
  border-right: 1px solid $border-color;
  z-index: 1;

  &__close-button {
    @include flex(row, center, flex-end);

    margin-bottom: 12px;
    display: none;
  }

  &__user-info {
    @include flex(column, flex-start, center);

    height: 60px;
    padding-left: 55px;
    border: 1px solid $border-color;
    border-radius: $border-radius--md;

    h2 {
      color: $text-black;
      font-size: $font-size--sm;
    }

    p {
      font-size: $font-size--xs;
    }
  }

  &__nav {
    margin-top: 32px;
  }

  @media #{$media-desktop} {
    width: 25%;
  }

  @media #{$media-desktop--xs} {
    width: 35%;
    display: none;

    &--open {
      display: block;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
        0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    }

    &__close-button {
      display: flex;
    }
  }

  @media #{$media-tablet} {
    width: 40%;
  }

  @media #{$media-mobile} {
    width: 50%;
  }

  @media #{$media-mobile--sm} {
    width: 65%;
  }

  @media #{$media-mobile--xs} {
    width: 80%;
  }

  @media #{$media-mobile--xxs} {
    width: 90%;
  }
}
