@import 'styles/variables';
@import 'styles/mixins';

.select {
  @include input();

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: $font-weight--medium;
  cursor: pointer;

  &__icon {
    svg {
      @include size(16px);
      @include position(absolute, 14px, 18px);
    }
  }
}
