@import 'styles/variables';

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex(
  $direction: row,
  $align: flex-start,
  $justify: flex-start,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin grid($columns: 1, $gap: 16px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin position(
  $position: relative,
  $top: unset,
  $right: unset,
  $bottom: unset,
  $left: unset
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin layout-main {
  margin-left: 20%;

  @media #{$media-desktop} {
    margin-left: 25%;
  }

  @media #{$media-desktop-sm} {
    margin-left: 30%;
  }
}

@mixin input {
  height: 44px;
  width: 100%;
  padding: 0 16px;
  border: 1px solid $input-border-color;
  border-radius: $border-radius--md;
  color: $text-black;
  font-size: $font-size--base;
  font-weight: $font-weight--medium;

  &:focus {
    outline: none;
  }

  &-group {
    @include position();
  }
}
